.suscribe-button{
    background-color: rgb(200, 0, 0);
    color: white;
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right:8px;
    transition: opacity 0.15s;
    vertical-align: top;
}

.suscribe-button:hover{
    opacity: 0.8;
}

.suscribe-button:active{
    opacity: 0.5;
}

.join-button{
    background-color: rgb(240, 243, 244);
    color: rgb(6, 141, 200);
    border-color:rgb(6, 141, 200);
    border-style: solid;
    border-width: 1px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s,color 0.15s;
}
.join-button:hover{
    background-color: rgb(6, 141, 200);
    color: rgb(255, 255, 255);
}
.join-button:active{
    opacity: 0.7;
}

.tweet-button{
    background-color: rgb(0, 191, 255);
    color: rgb(235, 235, 235);
    border:none ;
    border-width: 1px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 18px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: box-shadow 0.15s;
    vertical-align: top;
}
.tweet-button:hover{
                box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.tweet-button:active{
    opacity: 0.7;
}