.header{
  background-color: white;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom-width:1px ;
    border-bottom-style: solid;
    border-bottom-color: rgb(218, 218, 218) ;
    z-index: 1000;
  }

.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 12px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(240, 240, 240);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
    width: 0px;
  }

.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
}

.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color:  rgb(240, 240, 240);
  margin-left: -1;
  margin-right: 12px;
  position: relative;
}


.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-container{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-container .tooltip{
  position: absolute;
  background-color: rgb(64, 62, 62);
  color: white;
  font-size: 12px;
  border-radius: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  bottom: -20px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  white-space: nowrap;
  font-family: Roboto,Arial;
}


.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-container:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 25px;
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color:  rgb(240, 240, 240);
}

.voice-search-icon{
  height: 24px;
}

.left-section{
  display: flex;
  align-items: center;
  

}

.middle-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 80px;
}

.right-section{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
  flex-shrink: 0;
}

.hamburger-menu{
  height: 30px;
  margin-left: 20px;
  margin-right: 30px;
}

.youtube-logo{
  height: 24px;
}

.upload-icon{
  height: 24px;
}

.youtube-icon{
  height: 24px;
}

.notification-icon{
  height: 24px;
}

.notification-icon-containers {
  position: relative;
}

.notification-count{
  position: absolute;
  top: -3px;
  right: -5px;
  background-color: rgb(194, 1, 1);
  color: white;
  font-family: Roboto,Arial;
  font-size: 11px;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

.my-channel{
  height: 32px;
  border-radius: 16px;
}