
  .thumbnail{
    width: 100%;
    margin-bottom: 12px;
  }
  

  .video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
  }
  
  
  .video-title{
    width: 100%;
    margin-top: 0px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 12px;
    
  }

  .video-author,
  .video-stats{
    font-size: 12px;
    color: rgb(96,96,96);
  }

  .video-author{
    margin-bottom: 5px;
  }

  
  .video-info{
    width: 100%;
    margin-left: 8px;
  }
  
  .channel-pic{
    width: 50pX;
    vertical-align: top;
  }

  .profile-pic{
    width: 100%;
    border-radius: 40px;
    
  }

  .video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
  }